body {
  margin: 0;
  padding-top: 26px;
}

span.button:hover {
  background: #ddd;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}

span.button {
  width: 1em;
  height: 1em;
  padding: 5px 5px 4px 5px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #eee;
  border-left: 1px solid #fff;
  line-height: 20px;
  color: #444;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  background: #eee;
  font-size: 16px;
  border-radius: 2px;
}

span.buttons {
  display: block;
  float: right;
}

span.record:after { content: "●" }
span.recording:after { content: "●" }
span.paused:after { content: "▶" }
span.playing:after { content: "❚❚" }
span.loading:after { content: "…" }
span.error:after { content: "!" }
span.refresh:after { content: "↻"; -webkit-transform: scale(-1, 1); }

span.error {
  font-weight: bold;
  color: #E9452C;
}

span.button.active,
span.button.loading,
span.recording,
span.playing {
  background: #ddd;
  border-right: 1px solid #ccc;
  border-top: 1px solid #bbb;
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #ccc;
}

span.playing {
  text-shadow: 0px 0px 3px #fff;
}

span.record {
  display: none;
}

span.recording {
  color: #E9452C;
}

div.station {
  width: 300px;
  float: left;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  padding: 10px 10px 20px 10px;
  margin-left: -1px;
}

h1 {
  text-align: left;
  font-size: 18px;
  padding: 4px 24px;
  margin: 0;
  background: #000;
  color: #efefef;
  font-weight: normal;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
}

span.condensed { 
  letter-spacing: -14px;
  margin-left: -7px;
  display: inline-block;
  line-height: 8px;
}

h1, h2 {
  font-family: Georgia, "Times New Roman", serif;
  text-rendering: optimizeLegibility;
}

div.station h2 {
  line-height: 34px;
  padding: 0 4px;
  margin: 0;
  border-bottom: 1px solid #ccc;
}

ol.plays {
  list-style: none;
  padding-left: 0;
  font-family: "Helvetica Neue", "sans-serif";
  margin-top: 0;
  margin-bottom: 0;
}

ol.plays li {
  font-size: 12px;
  padding: 3px 4px 3px 4px;
}

ol.plays li:first-child {
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

ol.plays li:nth-child(even) {
  background: #efefef;
}

ol.plays li:first-child span.timestamp {
  color: #333;
}

span.timestamp {
  font-family: monospace;
  padding: 0 2px;
  margin-left: 3px;
  color: #999;
  float: right;
}

div#stations {
  padding: 10px;
}

div.station.active h2:after {
  content: "…";
  color: #E9452C;
  line-height: 0px;
}

div.station.active span.record {
  display: inline-block;
}

iframe.download {
  height: 0px;
  width: 0px;
  visibility: hidden;
  border: none;
  padding: 0;
  margin: 0;
}

@media(max-width: 500px) {
  div#stations {
    padding: 0;
  }
  div.station {
    border: none;
    margin-left: 0px;
    padding: 10px 0;
    width: auto;
    float: none;
  }
  h1 {
    padding: 4px 4px;
  }
}
